#category, #task {
    background-color: lavenderblush;
    border: 5px solid lightgray;
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 40px;
    box-shadow: 5px 5px 5px;
}

#category-list {
    background-color: lavenderblush;
    border: 5px solid darkgray;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    box-shadow: 5px 5px 5px;
}

#category-flex {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

.categories-dashboard {
    margin-left: 230px;
    margin-top: 7%;
}

.form-inline > * {
    margin:5px 3px;
}

.category-name {
    text-align: center;
}