* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
    
th {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
    
td {
    font-size: 17px;
    border-radius: 5px;
    padding: 10px; 
}
    
#notice {
    font-size: 15px;
    color: darkgreen; 
}
    
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}